body {
    position: relative; /* Make body the positioning context for h1 */
    padding-top: 50px; /* Add padding to the top of the body to prevent content from being hidden by the h1 */
    color: #333; /* Default text color */
    background-color: #fff;
}

h1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 30px;
    color: #fff;
    background-color: #333;
    text-align: center;
    overflow: hidden;
}

h1:before, h1:after {
    content: '';
    position: absolute;
    top: 100%;
    width: 50%;
    height: 20px;
    background-color: #333;
}

h1:before {
    left: 50%;
    transform: skewX(-45deg) translateX(-50%);
}

h1:after {
    right: 50%;
    transform: skewX(45deg) translateX(50%);
}

.container {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap onto the next line if necessary */
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
    max-width: 1200px; /* Limit the maximum width */
    margin: 60px auto 0; /* Add top margin to push container below h1 */
}

.button {
    display: flex;
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
}

/* Style all links within .item as buttons */
.button a {
    display: inline-flex;
    padding: 10px 20px;
    color: #fff;
    background-color: #333;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: all 0.3s ease;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Subtle shadow */
    margin: 5px; /* Add some space around each link */
}

.button a:hover {
    background-color: #555;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2); /* Slightly more pronounced shadow on hover */
    transform: translateY(-2px); /* Slight upward lift on hover */
}
/* Make images within .button responsive */
.thumb {
    max-width: 33%;
    margin: 2em;
    
    /* height: auto; */
}

.thumb img {
    max-width: 100%;
    height: auto;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 5px; /* Rounded corners on images */
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Subtle shadow */
}

.thumb img:hover {
    box-shadow: 0 2px 10px rgba(0,0,0,0.2); /* Slightly more pronounced shadow on hover */
}

/* Add some space around items */
.container .item .thumb {
    margin: 10px;
}

/* Add a class for zoomed images */
.zoomed {
    transform: scale(5);
    z-index: 9999; /* Ensure zoomed image is above other content */
    position: relative; /* Required for z-index to take effect */
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
    body {
        color: #ddd; /* Lighter text color */
        background-color: #222; /* Darker background color */
    }

    h1, h1:before, h1:after, .item a {
        background-color: #555; /* Lighter grey */
    }

    .item a:hover {
        background-color: #777; /* Even lighter grey on hover */
    }
}
